<div class="card w-100">

  <div class="card-header">
    <h3>
      Catalog#<%= catalog.id %> [<%= catalog.code %>] <%= catalog.name %>
    </h3>
  </div>

  <div class="card-body">
    <span class="card-text"><%= catalog.description %></span>
  </div>

  <div class="card-footer">
    <% if session.key?(:userinfo) %>
      <%= link_to edit_catalog_path(catalog), 
          class: 'btn btn-info btn-sm', 
          method: :get  do %>
          <span class="fas fa-edit"></span><span><%= t('form.edit') %></span>
      <% end %>
      <%= link_to catalog_path(catalog), 
          class: 'btn btn-danger btn-sm',
          method: :delete, 
          data: { confirm: t('form.delete_confirm') } do %>
          <span class="fas fa-trash"></span><span><%= t('form.delete') %></span>
      <% end %>
    <% end %>
  </div>

</div>