<div class="container">
  <%= form_with model: catalog, local: local do |f| %>

    <div className="form-group">
      <%= f.text_field :code, placeholder: t('catalogs.field.code')+'*', 
          class: 'col col-md-2', required: true %>
      <%= f.text_field :name, placeholder: t('catalogs.field.name')+'*', 
          class: 'col col-md-9', required: true %>
    </div>

    <div className="form-group">
      <%= f.text_area :description, placeholder: t('catalogs.field.desc'), 
          class: 'w-100' %>
    </div>

    <%# custom submit text: https://stackoverflow.com/a/4769520/4906586 %>
    <%# https://stackoverflow.com/a/39034203/4906586 %>
    <%= button_tag type: 'submit', id: 'save-button', class: 'btn btn-primary' do %>
        <span><i class="fas fa-save"></i><%= submit_text %></span>
    <% end %>

  <% end %>
</div>