<%# Catalog definition and edition buttons %>
<div id="entity">
  <%= render partial: 'catalogs/catalog_detail', locals: { catalog: @catalog } %>
</div>

<%# Article publications definition %>
<h3>Publications</h3>
<ul id="article_publications" class="list-group">
  <%= render @catalog.article_publications %>
</ul>

<%# Articles search to create article publication %>
<% if session.key?(:userinfo) %>
  <h3>Search Article to add</h3>
  <%= form_with url: search_articles_path, method: :get, local: false do |form| %>

    <%= form.label :name, "Search article:" %>
    <%= form.text_field :name, placeholder: 'Article name' %>

    <%= form.hidden_field :source_id, value: @catalog.id %>
    <%= form.hidden_field :partial_path, value: 'catalogs/articles/searched' %>
    <%= form.submit "Search" %>

  <% end %>
<% end %>

<div id="searched_articles"></div>