<li id="article_publication_<%= article_publication.id %>"
    class="list-group-item d-flex justify-content-between align-items-center">
  <span>
    [<%= article_publication.id %>] <%= article_publication.catalog.name %> - <%= article_publication.article.name %>
  </span>
  <span class="badge">
    <% if session.key?(:userinfo) %>
      <%= link_to article_publication_path(article_publication), 
            class: 'btn btn-danger btn-sm',
            method: :delete, remote: true,
            data: { confirm: t('form.delete_confirm') } do %>
        <span class="fas fa-trash"></span>
        <span>Delete</span>
      <% end %>
    <% end %>
  </span>
</li>