<div class="card w-100">

  <div class="card-header">
    <h3>
      Article#<%= article.id %> <%= article.name %>
    </h3>
  </div>

  <div class="card-body">
    <div class="card-text"><%= article.description %></div>
    <div class="card-text">
    </div>
  </div>

  <div class="card-footer">
    <% if session.key?(:userinfo) %>
      <%= link_to edit_article_path(article), 
          class: 'btn btn-info btn-sm', 
          method: :get  do %>
          <span class="fas fa-edit"></span><span><%= t('form.edit') %></span>
      <% end %>
      <%= link_to article_path(article), 
          class: 'btn btn-danger btn-sm',
          method: :delete, 
          data: { confirm: t('form.delete_confirm') } do %>
          <span class="fas fa-trash"></span><span><%= t('form.delete') %></span>
      <% end %>
    <% end %>
  </div>

</div>


<h3>Pictures</h3>

<% article.pictures.each do |picture| %>

  <div class="card">
    <div class="card-body">
      <%= image_tag picture, height: '200', alt: article.name + ' picture', title: article.name %>
    </div>
  </div>

  <div class="card-footer">
    <% if session.key?(:userinfo) %>
      <%= link_to pictures_article_path(article, picture.id), 
          class: 'btn btn-danger btn-sm',
          method: :delete, 
          data: { confirm: t('form.delete_confirm') } do %>
          <span class="fas fa-trash"></span><span><%= t('form.delete') %></span>
      <% end %>
    <% end %>
  </div>
  
<% end %>