<div class="col-12 col-md-3">
  <div class="card">
    <%= link_to article_path(article) do %>
      <div class="card-header">
        <span><%= article.id %>: <%= article.name %></span>
      </div>
      <div class="card-body">
        <%= display_text(article.description, no_text: t('article.no_desc'), truncate: 80) %>
      </div>
    <% end %>

    <div class="card-footer">
      <% if session.key?(:userinfo) %>
        <%= link_to edit_article_path(article), 
            class: 'btn btn-info btn-sm', 
            method: :get  do %>
            <span class="fas fa-edit"></span><span><%= t('form.edit') %></span>
        <% end %>
        <%= link_to article_path(article), 
            class: 'btn btn-danger btn-sm',
            method: :delete, 
            data: { confirm: t('form.delete_confirm') } do %>
            <span class="fas fa-trash"></span><span><%= t('form.delete') %></span>
        <% end %>
      <% end %>
    </div>

  </div>
</div>